<mat-form-field appearance="outline">
    <mat-label id="labelField">{{fieldName}}</mat-label>
    <mat-chip-grid #chipGrid aria-label="Enter values">
      
      <mat-chip-row 
        *ngFor="let addedValue of listOfAddedValues"
        (removed)="remove(addedValue)"
        [editable]="false"
        (edited)="edit(addedValue, $event)"
        [aria-description]="'press enter to edit ' + addedValue">
        {{addedValue}}
        <button matChipRemove [attr.aria-label]="'remove ' + addedValue">
          <mat-icon>cancel</mat-icon>
        </button>
      </mat-chip-row>
      <input matInput 
            #inputField
             [placeholder]="placeholder" 
             [matChipInputFor]="chipGrid"
             [matAutocomplete]="auto"
             [formControl]="searchText"
             (matChipInputTokenEnd)="addOnEnter($event)"
             aria-labelledby="labelField" 
             (keyup)="filterList()"
            >
  
    <mat-autocomplete #auto="matAutocomplete">
      <mat-option *ngFor="let value of filteredListOfAddedValues" [value]="value.viewValue" (click)="add(value.viewValue, inputField)">
        {{ value.viewValue }}
      </mat-option>
    </mat-autocomplete>

</mat-chip-grid>
  

  </mat-form-field>
  